<div class=" font-[sans-serif] lg:h-screen md:px-24 dark:bg-theme-900 pt-20" id="contact">
    <div class="text-center">
        <h2 class="font-semibold text-3xl dark:text-gray-100 text-gray-800">Contact</h2>
    </div>
    <div
        class="grid lg:grid-cols-3 items-center max-lg:justify-center gap-6 h-full sm:p-12 px-8 pt-0 pb-8 max-sm:p-4 lg:px-20">

        <div
            class="max-w-lg max-lg:mx-auto max-lg:text-center max-lg:mb-6 shadow-black border-2 border-gray-200 rounded-xl dark:border-theme-100">
            <form class="mx-auto mt-8 bg-white rounded-lg p-6 shadow-md space-y-4 dark:bg-transparent"
                (ngSubmit)="send()">
                <input type="text" placeholder="Full Name"
                    class="px-2 py-3 bg-transparent dark:text-gray-300 w-full text-sm border-b border-gray-400 focus:border-yellow-400 outline-none"
                    [(ngModel)]="fullName" name="fullName" required />
                <input type="email" placeholder="Email"
                    class="px-2 py-3 bg-transparent dark:text-gray-300 w-full text-sm border-b border-gray-400 focus:border-yellow-400 outline-none"
                    [(ngModel)]="email" name="email" required />
                <input type="number" placeholder="Mobile"
                    class="px-2 py-3 bg-transparent dark:text-gray-300 w-full text-sm border-b border-gray-400 focus:border-yellow-400 outline-none"
                    [(ngModel)]="mobile" name="mobile" required />
                <input type="text" placeholder="Subject"
                    class="px-2 py-3 bg-transparent dark:text-gray-300 w-full text-sm border-b border-gray-400 focus:border-yellow-400 outline-none"
                    [(ngModel)]="subject" name="subject" required />
                <input type="text" placeholder="Company Name (Optional)"
                    class="px-2 py-3 bg-transparent dark:text-gray-300 w-full text-sm border-b border-gray-400 focus:border-yellow-400 outline-none"
                    [(ngModel)]="company" name="company" />
                <textarea placeholder="Write Message"
                    class="px-2 pt-3 bg-transparent dark:text-gray-300 w-full text-sm border-b border-gray-400 focus:border-yellow-400 outline-none"
                    [(ngModel)]="message" name="message" required></textarea>
                <button type='submit'
                    class="text-white font-bold bg-theme-100 hover:bg-indigo-700 hover:bg-g rounded-md text-sm px-4 py-3 w-full !mt-6 ">Send</button>
        </form>

    </div>

    <div class="z-10 relative lg:col-span-2 flex justify-center" id="contact-img">
        <img src="../../../assets/media/contact-img.svg" class="shrink-0 w-5/6 lg:w-4/6" />
    </div>
</div>
</div>