<!-- new -->
<header class='flex py-2 px-4 sm:px-5 min-h-[50px] tracking-wide relative z-5 dark:bg-theme-900 '>
    <div class='flex flex-wrap items-center justify-between w-full'>
        <!-- logo -->
        <a class="flex title-font items-center text-gray-800 max-md::m-0 mb-4 ml-10 md:mb-0 cursor-pointer"
            id="logo-text">
            <img src="../../../assets/media/logo.svg" class="w-9 h-9 logo" />
            <span
                class="ml-2 text-2xl font-semibold hover:text-theme-100 hover:transition-colors hover:duration-300 text-gray-900 dark:text-white dark:hover:text-theme-100 dark:hover:duration-300">DevProfile</span>
        </a>

        <div id="collapseMenu"
            class='max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
            <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white dark:bg-theme-100 p-3' (click)="handleClick()">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black dark:fill-theme-900" viewBox="0 0 320.591 320.591">
                    <path
                        d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                        data-original="#000000"></path>
                    <path
                        d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                        data-original="#000000"></path>
                </svg>
            </button>

            <ul
                class='lg:flex gap-x-1 max-lg:space-y-3 max-lg:fixed max-lg:bg-white dark:max-lg:bg-theme-900 max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50 text-gray-600 dark:text-gray-200'>
                <li class='mb-6 hidden max-lg:block'>
                        <!-- <a href="javascript:void(0)" class="flex justify-center align-middle text-xl">
                            <img src="../../../assets/media/logo.svg" alt="logo" class='w-16' />
                            <p>DevProfile</p>
                        </a> -->
                        <a class="flex justify-center gap-5 align-middle title-font items-center text-gray-800 cursor-pointer" id="logo-text">
                            <img src="../../../assets/media/logo.svg" class="w-9 h-9 logo" />
                            <span
                                class="text-2xl font-semibold hover:text-theme-100 hover:transition-colors hover:duration-300 text-gray-900 dark:text-white dark:hover:text-theme-100 dark:hover:duration-300">DevProfile</span>
                        </a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-2'>
                    <a class="inline-block p-4 border-b-2 rounded-t-lg text-indigo-600 border-indigo-600 active mx-1"
                        aria-current="page">
                        Home
                    </a>
                </li>
                <li class='max-lg:border-b  max-lg:py-3 px-2'>
                    <a href="#about"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-indigo-600 hover:border-indigo-600 mx-1">
                        About
                    </a>
                </li>
                <li class='max-lg:border-b  max-lg:py-3 px-2'>
                    <a href="#skills"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-indigo-600 hover:border-indigo-600 mx-1">
                        Skills
                    </a>
                </li>
                <li class='max-lg:border-b max-lg:py-1 px-2'>
                    <a href="#projects"
                        class="inline-block p-4 border-b-2 border-transparent hover:text-indigo-600 hover:border-indigo-600 rounded-t-lg mx-1">
                        Projects
                    </a>
                </li>
                <li class='max-lg:border-b  max-lg:py-3 px-2'>
                    <a href="#services"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-indigo-600 hover:border-indigo-600 mx-1">
                        Services
                    </a>
                </li>
               
                <li class='max-lg:border-b  max-lg:py-3 px-2'>
                    <a href="#contact"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-theme-100 hover:border-indigo-600 mx-1">
                        Contact
                    </a>
                </li>
            </ul>
        </div>

        <!-- Theme -->
        <div class='flex max-lg:ml-auto '>
            <button
                class='py-2 bg-transparent border-none text-indigo-600 mx-10 max-md:mx-2' (click)="toggleDarkMode()">
                <svg *ngIf="(darkModeService.darkModeSignal() === 'null')" width="30" height="30" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                </svg>
                
                <svg *ngIf="darkModeService.darkModeSignal() === 'dark'" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                </svg>
            </button>

        
            <button id="toggleOpen" class='lg:hidden' (click)="handleClick()">
                <svg class="w-7 h-7 dark:fill-theme-100" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>
</header>