<section class="text-gray-600 body-font dark:bg-theme-900 pt-14" id="services">
    <div class="text-center mt-10">
        <h2 class="font-semibold text-3xl dark:text-gray-100 text-gray-800">Services</h2>
    </div>

    <div class="container px-5 py-24 mx-auto">


        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col gap-10 max-md:gap-0">
            <div
                class="inline-flex items-center justify-center rounded-full bg-white text-indigo-500 flex-shrink-0">
                <img src="../../../assets/media/service1.svg" alt="API" class="rounded-full h-44">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 dark:text-white text-lg title-font font-medium mb-2">Full Stack Website Development</h2>
                <p class="leading-relaxed text-base dark:text-gray-400 text-justify">I develop full-stack web applications using Angular or React for the frontend, and Spring, Spring Boot, and Hibernate
                for the backend. With experience in MySQL and MongoDB databases, I create responsive, scalable, and efficient websites
                tailored to modern needs.</p>
                <a href="#contact" class="mt-3 text-indigo-500 inline-flex items-center">Connect with me
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>


        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col gap-10 max-md:gap-0">
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 dark:text-white text-lg title-font font-medium mb-2">Backend Development With Spring Boot</h2>
                <p class="leading-relaxed text-base dark:text-gray-400 text-justify">I offer backend development services using Spring, Spring Boot, and Hibernate, gained through hands-on learning
                projects. I specialize in creating RESTful APIs, managing MySQL and MongoDB databases, and building scalable, secure
                applications tailored to modern needs.</p>
                <a href="#contact" class="mt-3 text-theme-100 inline-flex items-center">Connect with me
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div
                class="sm:order-none order-first inline-flex items-center justify-center rounded-full bg-white text-theme-100 flex-shrink-0">
                <img src="../../../assets/media/service3.svg" alt="API" class="rounded-full h-44">
            </div>
        </div>

        
        <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col gap-10 max-md:gap-0">
            <div class=" inline-flex items-center justify-center rounded-full bg-white flex-shrink-0">
                <img src="../../../assets/media/service2.svg" alt="API" class="rounded-full h-44">
            </div>

            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 dark:text-white text-lg title-font font-medium mb-2">Custom Project Development</h2>
                <p class="leading-relaxed text-base dark:text-gray-400 text-justify">I offer personalized project development services to meet your unique business needs. Using modern technologies like
                Spring Boot, Hibernate, Angular, React, and databases like MySQL and MongoDB, I build scalable, secure, and efficient
                solutions from the ground up.</p>
                <a href="#contact" class="mt-3 text-theme-100 inline-flex items-center">Connect with me
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>